<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width" />
  <title>Mercado Liebre</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,350;0,500;0,700;0,900;1,100;1,300;1,350;1,500;1,700;1,900&display=swap"
    rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <header class="main-header">
    <div class="top-bar">
      <img src="img/logo-mercado-liebre.svg" class="logo" alt="logo mercado liebre" />
      <form class="barra-busqueda" action="/login" method="POST"> 
        <div>
          <input type="text" name="busqueda" placeholder="Buscar productos, marcas"/>
          <i class="fas fa-search lupa"></i>
        </div>        
      </form>
      <p class="compra_cuotas_centrada">
        <i class="fa-solid fa-money-bill-transfer"></i>compra en cuotas y sin
        tarjeta de crédito
      </p>
    </div>

    <nav class="main-header-bottom-bar">
      <ul>
        <li><a href="#Ofertas"> Ofertas</a></li>
        <li><a href="#Tiendas Oficiales"> Tiendas Oficiales</a></li>
        <li><a href="#Vender"> Vender</a></li>
        <li><a href="#Ayuda"> Ayuda</a></li>
      </ul>
      <ul>
        <li>
          <a href="#Crea tu Cuenta"> Crea tu Cuenta</a>
          <i class="fa-solid fa-address-card"></i>
        </li>
        <li>
          <a href="#Ingresá"> Ingresá</a>
          <i class="fa-solid fa-person-walking-arrow-right"></i>
        </li>
        <li>
          <a href="#Mis compras"> Mis compras</a>
          <i class="fa-solid fa-cart-shopping"></i>
        </li>
      </ul>

      <div class="menu">
        <i class="fa-solid fa-bars menu_icono"></i>
      </div>
    </nav>
    <br>
  </header>
  <!----------------------------------------- MAIN------------------------------------------------->
  
  <!------------------- formulario login---------------------->
  <main>
    <form class="form-login" action="/login" method="POST">
      <section class="contenedor-login">
        <h2>LOGIN</h2>
        <div class="casillas-login">
          <input class="casillas-2" type="text" name="nickname" placeholder="Nombre de usuari@" required minlength="6" />
        </div>  
        <div class="casillas-login">
          <input class="casillas-2" type="password" name="password" placeholder="contraseña" required minlength="6" />
        </div>  
        <button class="boton-login" type="submit"> Enviar</button>
      </section>   
    </form>
  <!------------------- Fin del formulario login---------------------->
  </main>

  <footer>
    <section>
      <div class="credito">
        <i class="fa-brands fa-cc-visa tarjeta"></i>
      </div>
      <p class="footer_titulo">Pagá con tarjeta o en efectivo</p>
      <p class="footer_centrado">
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
        en puntos de pago. ¡Y siempre es seguro!
      </p>
    </section>
    
    <section>
      <div class="regalo">
        <i class="fa-solid fa-gift icono-regalo"></i>
      </div>

      <p class="footer_titulo">Envío gratis desde $ 2.500</p>
      <p class="footer_centrado">
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles
        de productos. Es un beneficio de Mercado Puntos.
      </p>
    </section>
    
    <section>
      <div class="seguridad">
        <i class="fa-solid fa-user-shield icono-seguridad"></i>
      </div>

      <p class="footer_titulo">Seguridad, de principio a fin</p>
      <p class="footer_centrado">
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
        hacer, porque estás siempre protegid@.
      </p>
    </section>
    
    <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

  </footer>
</body>

</html>